body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}
.id-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  justify-content: center;
}
.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* margin: 0 auto; */
  justify-content: center;
  background-color: #ccc;
}
.info {
  margin-top: 20px;
  text-align: center;
}
